footer {
    @include box-sizing(border-box);
    clear:both;
    text-align: center;
    font-size: 0.938em;
    padding: 0;
    // background: darken($color-gray, 60);
    background: url(../images/bg-mp2020-2.jpg) 50% top no-repeat;
    background-size: cover;
    padding-top: 8em;

    // position: relative;
    // overflow: hidden;

    // &:after{
    //     content: '';
    //     width: 100%;
    //     display: block;
    //     position: absolute;

    //     height: 100px;
    //     background: #fff;
    //     // background: pink;
    //     transform: skewY(-5deg);
    //     top: -26%;
    // }

    p { line-height: 1.4; }

    >div:first-child{
        background:rgba(0,0,0,.66);
        // position: absolute;
        // z-index: 1;
        // width: 100%;
    }

    .container {
        @include gutter();
        &:nth-child(1) {
            // max-width: 100%;
            // background:rgba(0,0,0,.66);

            // @include gutter(0);
            // z-index: 9;
            // &:after{
            //     position: absolute;
            //     content: "";
            //     display: block;
            //     width: 100%; height: 100%;
            //     top:0;left: 0;
            //     z-index: -1;
            //     background:rgba(0,0,0,.66);
            // }
        }
        &:nth-child(2) {
            @include display-flex;
            @include flex-direction(row);
        }

        >div { padding-top: 1em; }

    .footer_link {
        // @include li-reset();
        // @include clearfix();
        //  margin: 5px 0 0 0;
        //  text-align: center;
        //  display: inline-block;

        //  li {
        //      float: left;
        //      display: inline-block;
        //      margin: 0px 5px 0px 0px;
        //      position: relative;
        //      line-height: 1.5;
        //      &:after {
        //          position: absolute;
        //          content: "";
        //          top: 10px;
        //          right: -2px;
        //          height: 12px;
        //          width: 1px;
        //          background: #fff;
        //      }

        //      &:last-child {
        //          &:after {
        //              display: none;
        //          }
        //      }

        //      a {
        //          display: block;
        //          padding: .2em 1em;
        //          color: #FFF;
        //          @include transition(all 0.3s);
        //          &:hover,
        //          &:focus {
        //             color: $color-lightblue;
        //         }
        //     }
        // }

        text-align: right;
        margin: 0 0;
        li{
            display: inline-block;
            position: relative;
            &:last-child{
                &:after{ display: none; }
            }

            &:after{
                content: '';
                width: 1px;
                height: 10px;
                background: rgba(255,255,255,.5);
                display: block;

                position: absolute;
                right: -3px;
                top: calc(50% - 5px);
            }

            a{
                display: block;
                color: #fff;
                padding: .75em .75em;

                &:hover, &:focus{
                    background: $secondaryColor;
                }
            }
        }
    }
    .footer_logo {
        text-align: left;
        @include order(1);
        @include box-sizing(border-box);
        @include make-xs-column(12);
        @include make-sm-column(7);
        @include make-md-column(7);
        @include make-lg-column(7);
        @include gutter(0);
        margin: 0 0 1em 0;
        ul {
            @include clearfix();

            li {
                float: left;
                display: inline-block;
            }
        }
        .img-responsive{
            height: 60px;
            margin: 0px 0px 5px 0px;
        }
        .footer_info {
            overflow: hidden;
            padding: 1em 0;
            // border-top: 1px solid rgba($color-gray, 0.3);
            p {
                margin: 5px 0 0 0;
                color: #fff;
                font-size: 0.938em;

                &:last-child{ color: rgba(255,255,255,.5); }
            }

            .copyright {
                color: $color-lightblue;
                margin-bottom: 5px;
            }
        }
    }

    .footer_icon {
        text-align: left;
        float: none;
        @include order(2);
        @include box-sizing(border-box);
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(5);
        @include make-lg-column(5);
        @include gutter(0);

        ul {
            overflow: hidden;
            margin: 0; padding: 0;
            list-style: none;
            li {
                // @include make-xs-column(4);
                // @include gutter(0px);
                text-align: center;
                display: inline-block;

                &:nth-child(1){
                    border-right: 1px solid rgba(255,255,255,.5);
                }
                &:nth-child(1),&:nth-child(2){
                    width: calc(40% - 4px) ;
                }
                &:last-child{
                    width: calc(20% - 4px) ;
                    vertical-align: bottom;
                }

                @include transition(all 0.3s);
                .img-responsive{
                    height: 80px;
                    margin: 0 auto;
                }
                // &:after {
                //     position: absolute;
                //     content: "";
                //     top: 0;
                //     right: 0%;
                //     height: 100%;
                //     width: 1px;
                //     background: rgba($color-gray, 0.3);
                // }
                &.QRcode{
                    &:after { display: none; }
                }
            }
            img {
                height: 60px;
                display: block;
                margin: 0 auto;
            }
            a {
                color: white;
                float: none;
                display:block;
                vertical-align: top;
                @include transition(all 0.3s);
                
                &:hover,&:focus{
                    color: $color-lightblue;
                    img{
                            // -webkit-filter: brightness(0);
                            // filter: brightness(0);
                            -webkit-filter: sepia(1) hue-rotate(100deg) saturate(10);
                            filter: sepia(1) hue-rotate(100deg) saturate(10);
                        }
                    }
                }
            }
            @include screen('xs_mobile') {
                ul{
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    li{
                        img{ height: 64px !important; }
                    }
                }
            }
        }

        @include screen('mobile') {
            // .footer_link  li a{ padding: .2em .4em; }
            &:nth-child(2) {
                @include flex-direction(column);
            }
            .footer_logo {
                @include order(2);
                margin: 1em auto;
                text-align: center;
                .img-responsive{ margin: 0 auto 1em auto; }
                .footer_info{ border-top: none; }
            }
            .footer_icon {
                margin-bottom: 1em;
                @include order(1);
            }
        }
        @include screen('xs_mobile') {
            .footer_link  li{
                float: none;
                display: block;
                text-align: center;
                &:after{ display: none; }
            }
        }

        a {
            text-decoration: none;
            color: $primaryColor;

            &:hover, &:focus {
                color: darken($primaryColor, 10);
            }
        }
    }
}