/*header*/
.header {
    position: relative;
    z-index: 99;
    @include box-shadow(0px 2px 5px RGBA(0, 0, 0, .3));
    background-color: rgba(white, 1);
    .MemberNav{
        display: none;
    }

    @include screen('tablet') {
        @include clearfix;
        position: fixed;
        width: 100%;
        min-height: 55px;
        /* MemberNav*/

        //  原本的寬度200px
        // .MemberNav {
        //     display: block;
        //     position: absolute;
        //     top: 67px;
        //     right: 5px;
        //     text-align: left;
        //     padding: 0;
        //     margin: 0;
        //     list-style: none;
        //     background: #FFF;
        //     border: 1px solid #d6d5d5;
        //     @include box-shadow(0px 0px 0px 8px rgba(186, 186, 186, 0.2));

        //     &:before {
        //         display: block;
        //         position: absolute;
        //         content: "";
        //         top: -5px;
        //         right: 35%;
        //         width: 7px;
        //         height: 7px;
        //         background: #FFF;
        //         border: 1px solid #d6d5d5;
        //         @include box-sizing(content-box);
        //         @include transform(rotate(-45deg));
        //         border-left-style: none;
        //         border-bottom-style: none;
        //         -webkit-appearance: none;
        //         -moz-appearance: none;
        //         appearance: none;
        //         -webkit-transform-origin: center;
        //         transform-origin: center;
        //     }

        //     >ul {
        //         padding: 1em;
        //         margin: 0;
        //         overflow-y: auto;
        //         width: 200px;
        //         height: 300px;
        //         list-style: none;
        //         li {
        //             line-height: 2;
        //             padding-left: 15px;
        //             color: lighten($color-word, 30);
        //             position: relative;
        //             &:before {
        //                 position: absolute;
        //                 content: "-";
        //                 top: 0;
        //                 left: 2px;
        //                 color: lighten($color-word, 30);
        //             }
        //             ul {
        //                 padding: 0;
        //                 list-style: none;
        //                 margin: 5px 0 5px -15px;

        //                 li {
        //                     padding: 2px 5px 2px 17px;
        //                     margin-bottom: 3px;
        //                     background: #efefef;
        //                     @include border-radius(3px);
        //                     color: lighten($color-word, 30);

        //                     &:before { display: none; }
        //                     a {
        //                         color: lighten($color-word, 30);
        //                         &:hover,
        //                         &:focus { color: $primaryColor; }
        //                     }
        //                 }
        //             }
        //             a {
        //                 display: block;
        //                 color: lighten($color-word, 30);

        //                 &:hover,
        //                 &:focus { color: $primaryColor !important; }
        //             }
        //             &.active {
        //                 color: $color-word;
        //                 >a{
        //                     color: $color-word !important;
        //                     font-weight: 600;
        //                     &:hover,
        //                     &:focus { color: $primaryColor !important; }
        //                 }
        //                 ul li{
        //                     &.active {
        //                         line-height: 1.65;
        //                         background: #CCC !important;
        //                         a{
        //                             color: $color-word;
        //                             font-weight: 400;
        //                         }
        //                     }
        //                 }
        //             }
        //             &:nth-child(1) {
        //                 &:before { display: none; }
        //             }
        //             &.userName {
        //                 padding: 0;
        //                 border-bottom: 1px solid #d6d5d5;
        //                 span {
        //                     color: $color-word;
        //                     &:nth-child(2) {
        //                         font-weight: bold;
        //                     }
        //                 }
        //             }
        //             &.signout {
        //                 text-align: center;
        //                 border-top: 1px solid #d6d5d5;
        //                 color: white;
        //                 padding: 0;
        //                 &:before { display: none; }
        //                 a {
        //                     text-align: center;
        //                     background: $primaryColor;
        //                     margin-top: 10px;
        //                     display: block;
        //                     padding: 5px;
        //                     color: white;
        //                     @include transition(all 0.3s);
        //                     &:hover,
        //                     &:focus {
        //                         color: white !important;
        //                         background: darken($primaryColor,10);
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        .MemberNav {
            display: block;
            box-sizing: border-box;

            position: absolute;
            top: 60px;
            // right: 5px;
            text-align: left;
            width: 100%;
            padding: 1em;
            margin: 0;
            list-style: none;
            background: #FFF;
            // border: 1px solid #d6d5d5;
            @include box-shadow(0px 8px 12px 8px rgba(14, 14, 14, 0.2));

            &:before {
                display: block;
                position: absolute;
                content: "";
                top: -5px;
                right: 85px;
                width: 7px;
                height: 7px;
                background: #FFF;
                border: 1px solid #d6d5d5;
                @include box-sizing(content-box);
                @include transform(rotate(-45deg));
                border-left-style: none;
                border-bottom-style: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-transform-origin: center;
                transform-origin: center;
            }

            >ul {
                padding: 0;
                margin: 0;
                overflow-y: auto;
                width: 100%;
                height: 300px;
                list-style: none;
                box-sizing: border-box;
                li {
                    line-height: 2;
                    padding-left: 15px;
                    color: lighten($color-word, 30);
                    position: relative;
                    &:before {
                        position: absolute;
                        content: "-";
                        top: 0;
                        left: 2px;
                        color: lighten($color-word, 30);
                    }
                    ul {
                        padding: 0;
                        list-style: none;
                        margin: 5px 0 5px -15px;

                        li {
                            padding: 2px 5px 2px 17px;
                            margin-bottom: 3px;
                            background: #efefef;
                            @include border-radius(3px);
                            color: lighten($color-word, 30);

                            &:before { display: none; }
                            a {
                                color: lighten($color-word, 30);
                                &:hover,
                                &:focus { color: $primaryColor; }
                            }
                        }
                    }
                    a {
                        display: block;
                        color: lighten($color-word, 30);

                        &:hover,
                        &:focus { color: $primaryColor !important; }
                    }
                    &.active {
                        color: $color-word;
                        >a{
                            color: $color-word !important;
                            font-weight: 600;
                            &:hover,
                            &:focus { color: $primaryColor !important; }
                        }
                        ul li{
                            &.active {
                                line-height: 1.65;
                                background: #CCC !important;
                                a{
                                    color: $color-word;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        &:before { display: none; }
                    }
                    &.userName {
                        padding: 0;
                        border-bottom: 1px solid #d6d5d5;
                        span {
                            color: $color-word;
                            &:nth-child(2) {
                                font-weight: bold;
                            }
                        }
                    }
                    &.signout {
                        text-align: center;
                        border-top: 1px solid #d6d5d5;
                        color: white;
                        padding: 0;
                        &:before { display: none; }
                        a {
                            text-align: center;
                            background: $primaryColor;
                            margin-top: 10px;
                            display: block;
                            padding: 5px;
                            color: white;
                            @include transition(all 0.3s);
                            &:hover,
                            &:focus {
                                color: white !important;
                                background: darken($primaryColor,10);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 375px) {
        .MemberNav{
            &:before{ right: 25%; }
        }
    }


    /* mobile btn*/
    %mobileCtrlBtn {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 15px;
        left: 1em;
        display: block;
        color: white;
        padding: 17px 17px;
        margin: 0;
        z-index: 1;
        line-height: 1;
        min-width: auto;
        min-height: auto;
        background: black;
        border: none;
        @include box-sizing;
        @include transition(all .3s);
        @include screen('tablet') {
            top: 0;
            left: 0;
        }
    }

    >.container {
        max-width: 100%;
        overflow: visible;
        position: relative;
        text-align: center;

        /* menu*/
        .sidebarCtrl {
            @extend %mobileCtrlBtn;

            span {
                width: 100%;
                height: 1px;
                margin: 0px 0 6px;
                display: block;
                @include border-radius(4px);
                @include transition(all 0.3s ease-in-out);
                background-color: #FFF;
            }

            &.is-active {
                span {

                    &:nth-child(2),
                    &:nth-child(4) { width: 88%; }

                    &:nth-child(3) { background-color: transparent; }

                    &:nth-child(2) {
                        @include transform(translateY(9px) rotate(45deg));
                    }

                    &:nth-child(4) {
                        @include transform(translateY(-6px) rotate(-45deg));
                    }
                }
            }

            .dataText {
                position: absolute;
                content: '';
                bottom: 13px;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 0.8em;
                background: transparent;
            }
        }

        /* search*/
        .searchCtrl,
        .userCtrl {
            display: none;
            right: 0px;
            left: inherit;
            font-size: 0;
            @extend %mobileCtrlBtn;
            background: transparent;
            -webkit-transform-origin: center;
            transform-origin: center;
            
            &:before {
                display: block;
                position: absolute;
                content: "";
                top: 14px;
                right: 20px;
                width: 16px;
                height: 16px;
                border: 2px solid $color-word;
                @include box-sizing(content-box);
                @include transform(rotate(135deg));
                border-left-style: none;
                border-bottom-style: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-transform-origin: center;
                transform-origin: center;
                @include transition(all .3s);
            }
            &.is-active{
                &:before {
                    top: 26px;
                    @include transform(rotate(315deg));
                }
            }
            @include screen('tablet') {
                display: block;
            }
            @media screen and (max-width: 375px) {
                width:45px ;
                padding: 17px 8px;
                &:before { right: 15px; }
            }
        }
        /* userCtrl*/
        .userCtrl {
            color: $color-word;
            right: 60px;
            font-size: 1.2em;
            &:before{ display: none !important; }
            &:after {
                font-family:'fontello';
                content: "\E8FE";
                
            }
            @media screen and (max-width: 375px) {
                right:45px;
            }
        }
    }

    h1 {
        margin: 0 auto;
        display: inline-block;
    }

    .logo {
        width: 334px;
        height: 60px;
        margin: 10px auto;
        padding: 0;
        float: none;
        display: inline-block;
        @include box-sizing;
        @include transition(all .3s);

        @include screen('tablet') {
            padding: 0;
            display: inline-block;
            margin: -15px 0 5px 0;
        }

        img {
            display: block;
            max-width: 100%;
            height: 100%;
        }

        &:hover { outline: 0; }
    }

    /* 導覽列*/
    .navigation {
        position: absolute;
        top: 0px;
        right: 15px;
        >ul {
            text-align: left;
            padding: 0;
            margin: 0;
            /* 第一層選單樣式*/
            >li {
                display: inline-block;
                vertical-align: top;
                line-height: 60px;
                // &:after {
                //     position: absolute;
                //     content: '';
                //     top: 20px;
                //     right: -4px;
                //     width: 5px;
                //     height: 22px;
                //     background: url('../images/navli-bg.png') no-repeat 0 center;
                // }

                // loginFuncArea
                &:nth-child(1){
                    padding: 0;
                    a{
                        // 登入
                        &:nth-child(1){
                            // background: pink;
                            background: url(../images/icon/icon_2020_login.png) 12px 50% no-repeat;
                            background-size: 30px 30px;
                        }
                        // 註冊
                        &:nth-child(2){
                            // background: deeppink;
                            background: url(../images/icon/icon_2020_signup.png) 12px 50% no-repeat;
                            background-size: 30px 30px;
                        }

                        &:after{
                            content: '';
                            display: inline-block;
                            width: 2px;
                            height: 10px;
                            background: #222;
                            vertical-align: baseline;
                            margin-left: 1.5em;
                        }
                    }
                }
                // langMenu
                &:nth-child(2){
                    padding: 0;
                    // 當前語系
                    >a{
                        background: #eee;
                        background: url(../images/icon/icon_2020_language.png) 12px 50% no-repeat;
                    }
                }

                &:last-child {
                    &:after { display: none; }
                }

                >a{
                    display: inline-block;
                    // padding: 0 16px;
                    padding: 0 0 0 3em;
                    font-weight: bold;

                    &:last-child {
                        position: relative;
                        // &:before {
                        //     position: absolute;
                        //     content: "/";
                        //     width: 15px;
                        //     height: 15px;
                        //     top: 0;
                        //     left: -2px;
                        //     font-weight: normal;
                        // }
                        &:hover,
                        &:focus {
                            color: $aHover;
                            &:before {
                                color: lighten($color-word, 10);
                            }
                        }
                    }
                }
            }

            // 第二層
            ul {
                display: none;
                overflow: visible;
                width: 100%;
                // width: 120px;
                // background: rgba(0, 0, 0, .8);
                background: rgba(255, 255, 255, 0.9);
                padding: 0;
                z-index: 999999;
                position: absolute;
                top: auto;
                right: 0;
                list-style: none;
                text-align: center;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                overflow: hidden;

                ul {
                    top: 0;
                    left: 170px;
                }
            }
        }

        /* 預設選單 li*/
        li {
            position: relative;

            a {
                outline: none;
                color: lighten($color-word, 10);
                text-decoration: none;
                &:hover,
                &:focus { color: $aHover; }
            }

            &.hasChild {
                >a {
                    position: relative;
                    display: block;

                    // padding: 0 1.5em 0 1em;
                    // width: 80px;

                    text-align: center;

                    &:after {
                        // content: "";
                        // position: absolute;
                        // z-index: 1;
                        // top: 45%;
                        // right: 3px;
                        // width: 0;
                        // height: 0;
                        // border: solid transparent;
                        // border-width: 6px;
                        // border-top-color: lighten($color-word, 20);
                    }
                }
            }

            // 語言的下拉icon
            &#langMenu,
            &.hasChild {
                >a {
                    &:after {
                        content: "";
                        // position: absolute;
                        // z-index: 1;
                        // top: 45%;
                        // right: 1px;
                        // width: 0;
                        // height: 0;
                        // border: solid transparent;
                        // border-width: 6px;
                        // border-top-color: lighten($color-word, 20);
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/basic/icon_arrow_down-2.svg) 50% 50% no-repeat;
                        background-size: contain;
                        vertical-align: sub;
                        margin-left: 8px;
                    }
                }

                &:hover{
                    >ul{
                        display: block;
                    }
                }
            }

            &#langMenu{
                // width: 96px;
            }

            /* 第二層選單樣式*/
            li {
                float: none;
                line-height: 1;
                a {
                    padding: 1em .95em;
                    display: block;
                    color: #4d4d4d;

                    &:hover,
                    &:focus {
                        color: #FFF;
                        background: $primaryColor;
                    }
                }
            }
        }

        @include screen('tablet') {
            >ul>li>a { padding: 0 0.5em; }
        }
    }
}

/*inner-kv 內頁形象圖*/
.inner-kv {
    position: relative;
    display: block;
    margin-top: 60px;
    // overflow: hidden;
    >.container {
        max-width: 100%;
        margin: 0 auto;
        z-index: 0;
        text-align: center;
        @include gutter(0);

        // background: #FFF;
        // background: cadetblue;

        .menu2020{
            // background: #222;
            padding: 1em 0;
            background: url(../images/bg-mp2020-1.jpg) 50% 10% no-repeat;
            border-bottom: solid 1px #cecece;
            @include screen('tablet') { display: none; }
        }

        // .decoration {
        //     z-index: 2;
        //     overflow: hidden;
        //     opacity: .5;
        //     .line {
        //         &:nth-child(1) {
        //             top: 25px;
        //             left: -125px;
        //             background: url('../images/line-left.png');
        //         }
        //         &:nth-child(2) {
        //             top: 160px;
        //             left: 200px;
        //             background: url('../images/line-right.png');
        //         }
        //         @include screen('tablet') {
        //             // @include opacity(1);

        //             &:nth-child(1) {
        //                 top: 0;
        //                 left: -155px;
        //             }
        //             &:nth-child(2) {
        //                 top: 120px;
        //                 left: 120px;
        //             }
        //         }
        //         @include screen('tablet') {
        //             // @include opacity(1);

        //             &:nth-child(1) {
        //                 left: -160px;
        //             }
        //             &:nth-child(2) {
        //                 top: 130px;
        //                 left: 35px;
        //             }
        //         }
        //     }

        //     // 2020年樣式修改，先隱藏
        //     display: none;
        // }
        .btn_sort {
            position: absolute;
            bottom: 3em;
            z-index: 1;
            left: 0;
            right: 0;
            display: block;
        }
        h1 {
            position: absolute;
            top: 45%;
            width: 50%;
            bottom: 0;
            left: 0;
            right: 0;
            font-weight: 500;
            font-size: 3em;
            line-height: 1;
            margin: auto;
            text-align: center;
            display: inline-block;
            color: white;
            z-index: 1;
            @include text-shadow(0px 2px 5px RGBA(0, 0, 0, .8));
            &:after{
                position: absolute;
                z-index: 1;
                content:"";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                line-height: 5.5;
            }
            a {
                color: white !important;
                display: inline-block;
                position: relative;
                z-index: 2;
                line-height: 1.2;
                width: auto;
                height: auto;
                &:hover,&:focus{
                    box-shadow:none;
                }
            }
        }
        .img-container {
            position: relative;
            display: block;
            line-height: 5;
            height: 220px;
            @include aspect-ratio(1, 1);

            // &:before{
            //     content: '';
            //     position: absolute;
            //     z-index: 1;
            //     width: 100%;
            //     height: 50px;
            //     bottom: 0;
            //     background: pink;
            // }

            &:after{
                content: "";
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                // z-index: 2;
                @include filter-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0), vertical);
                $experimental-support-for-svg: true;
                @include background-image(linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 100%));
            }

            @include screen('tablet') {
                height: 180px;
            }
            @include screen('tablet') {
                &:after{
                    @include background-image(linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 100%));
                }
            }
        }
    }

    // @include screen('tablet') {
    //     margin-top: 60px;
    // }
}

// 2021/04 展覽放圖
.inner-kv-banner{
    // height: 360px;
    // background: #ddd;

    position: relative;
    display: block;
    margin-top: 60px;
    >.container {
        max-width: 100%;
        margin: 0 auto;
        z-index: 0;
        text-align: center;
        @include gutter(0);

        .menu2020{
            padding: 1em 0;
            background: url(../images/bg-mp2020-1.jpg) 50% 10% no-repeat;
            border-bottom: solid 1px #cecece;
            @include screen('tablet') { display: none; }
        }

        .btn_sort {
            position: absolute;
            bottom: 3em;
            z-index: 1;
            left: 0;
            right: 0;
            display: block;
        }
        // h1 {
        //     position: absolute;
        //     top: 45%;
        //     width: 50%;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     font-weight: 500;
        //     font-size: 3em;
        //     line-height: 1;
        //     margin: auto;
        //     text-align: center;
        //     display: inline-block;
        //     color: white;
        //     z-index: 1;
        //     @include text-shadow(0px 2px 5px RGBA(0, 0, 0, .8));
        //     &:after{
        //         position: absolute;
        //         z-index: 1;
        //         content:"";
        //         top: 0;
        //         bottom: 0;
        //         left: 0;
        //         right: 0;
        //         display: block;
        //         line-height: 5.5;
        //     }
        //     a {
        //         color: white !important;
        //         display: inline-block;
        //         position: relative;
        //         z-index: 2;
        //         line-height: 1.2;
        //         width: auto;
        //         height: auto;
        //         &:hover,&:focus{
        //             box-shadow:none;
        //         }
        //     }
        // }
        .img-container {
            position: relative;
            display: block;
            line-height: 5;
            height: 420px;
            background: #000;
            // @include aspect-ratio(4, 3);

            &:after{
                content: "";
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                // z-index: 2;
                @include filter-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0), vertical);
                $experimental-support-for-svg: true;
                @include background-image(linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 100%));
            }

            @include screen('tablet') {
                height: 240px;
            }
            // @include screen('tablet') {
            //     &:after{
            //         @include background-image(linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0) 100%));
            //     }
            // }
        }
        .breadcrumb{
            background: #fff;
            margin-bottom: 0;
        }
    }
}


/*search*/
.search {
    vertical-align: middle;
    padding: 0em;
    font-size: 0.938em;
    @include box-sizing;

    label {
        font-size: 0;
    }

    .form_grp {
        margin-bottom: 0;
        margin-right: 0;

        input {
            width: 400px !important;
            height: 40px;
            margin: -0.2em 0 0;
            padding: .5em 1.25em;
            background: #f3f3f3;
            box-shadow: 0 0px 0px 1px #e2e2e2 inset;

            @include border-radius(2px);
            @include box-sizing(border-box);
            &:hover,
            &:focus {
                color: $color-word;
                @include box-shadow(0px 0px 0px 1px #ccc inset !important);
            }
        }

        @media screen and (max-width: 1200px) {
            input { width: 300px !important; }
        }
    }

    .btn_grp {
        padding: 0em;
        margin: -3px 0px 0 -30px !important;
        display: inline-block;
        position: relative;

        .btn-close {
            position: absolute;
            content: '';
            z-index: 1;
            top: 7px;
            right: 12px;
            font-size: 1.5em;
            color: lighten($color-word, 30);
        }

        button {
            margin: 0;
            color: transparent;
            margin-top: 0;
            padding: 0 !important;
            min-width: 48px;
            height: 40px;
            position: relative;
            @include border-radius(0 5px 5px 0);
            background: #5d18bc;
            border-left: none;
            border-color: $color-gray;

            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                // left: 8px;
                width: 48px;
                height: 100%;
                background: url('../images/icon/icon_search.png') 50% 50% no-repeat;
                background-size: 20px;
                -webkit-filter: brightness(10);
                filter: brightness(10);
            }

            &:hover,
            &:focus {
                color: transparent;
                background: $form-focus;
                border: 1px solid $form-focus;
                border-left: none;
                // &:before {
                //     -webkit-filter: brightness(10);
                //     filter: brightness(10);
                // }
            }
        }
    }

    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: 0;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        // padding-bottom: 10px;
        text-align: center;
        background: RGBA(0, 0, 0, .9);

        .form_inline {
            width: 100%;
            margin: 0 auto;
            display: inline-block;
            text-align: center;

            label {
                font-size: 0;
                line-height: 0;
            }

            .form_grp {
                // margin-bottom: 0;
                // margin-right: 0;
                width: 90%;
                // padding: 0 0 0 5%;
                padding: 1.5em 0 2.75em;
                // margin-top: 0;
                text-align: right;
                @include box-sizing();

                input {
                    width: 100% !important;
                    margin: -0.2em 0 0;
                    padding: .5em 1em .4em;
                }
            }

            .btn_grp {
                padding: .2em;
                margin-bottom: 0;
                @include box-sizing();
                button {
                    // min-width: auto;
                }

                input {
                    width: 80% !important;
                    margin: 0;
                }
            }

            .btn-adv {
                display: inline;
                padding: 5px 0px;
            }

            .keywordHot {
                padding-left: 5%;

                a {
                    color: #FFF;

                    &:hover,
                    &:focus {
                        color: $primaryColor;
                    }
                }
            }
        }

        @include screen('tablet') {
            .navigation {
                width: 95%;
                margin: 0 auto;
                display: inline-block;
                text-align: center;
                display: block;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 0;
                        display: block;
                        text-align: center;
                        
                        +ul{ display: block !important; }
                        &.hasChild{
                            >a{ display: none !important; }
                        }
                        a {
                            color: white !important;
                            display: block;
                            font-size: 1.2em;
                            padding: 1em;
                            border-bottom: 1px solid rgba($color-gray, 0.2);
                            &.iframe,&.user{
                                display: none;
                            }
                            &:hover,&:after{
                                color: $aHover !important;
                            }
                        }
                    }
                }
            }

        }
    }
}

.log_area {
    display: none;
    width: 60%;
    height: 500px;
    overflow-y: auto;
    padding: 1em;
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    background: RGBA(0, 0, 0, .8);
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    @include box-shadow(0px 2px 5px RGBA(0, 0, 0, .8));
    @include box-sizing;

    &:before {
        content: "";
        width: 280px;
        position: absolute;
        top: 0;
        left: 0;
        color: #FFF;
        width: 100%;
        height: 3em;
        background: transparent;
        padding: 0 1em;
        line-height: 3em;
        @include box-sizing;
    }

    h2, h3 { color: white; }
}

/* header fix*/
.header.fixed {
    position: fixed;
    width: 100%;
    height: 60px;
    right: 0;
    top: 0;
    line-height: 15px;
    // background: rgba(white, 1);
    z-index: 999;
    @include transition(all .3s);

    .container {
        padding: 0px 0;
        text-align: center;

        h1 {float: left;
            display: inline-block;
        }

        .logo {
            float: left;
            width: auto;
            height: 32px;
            // margin: 16px 0 0 67px;
            margin: 16px 0 0 16px;
        }


        .sidebarCtrl {
            width: 60px !important;
            height: 60px !important;
            top: 0px;
            left: 0;

            // 2020版本 tablet時再出現
            display: none;
            @include screen('tablet') {
                display: block;
            }

        }

        .search {
            position: absolute;
            top: 15px;
            right: 0;
            left: 0;
            width: 36%;
            margin: auto;
            display: inline-block !important;
            &.m_search .navigation ul {
                display: block;
            }
        }
    }

    // @include screen('tablet') {
    //     .container {
    //         .search {
    //             .form_grp input {
    //                 width: 220px !important;
    //             }
    //         }
    //     }
    // }
    @include screen('tablet') {
        overflow: visible;
        .container{
            h1{ float: none; }
            .logo{
                float: none;
                display: inline-block;
                text-align: center;
                height: 32px;
                margin: 14px auto;
            }
            .search {
                .form_grp input {
                    width: 220px !important;
                }
            }
            .search ,  .navigation {display: none !important;}
        }
    }
    @media screen and (max-width: 360px) {
        .container{
            .logo{
                height: 26px;
                margin: 17px auto;
            }
        }
    }
    // @media screen and (max-width: 375px){
    //     .container{
    //         .sidebarCtrl {
    //             width: 50px !important;
    //             padding: 17px 12px;
    //         }
    //     }
    // } 
}

@include screen('tablet') {
    .inner-kv {
        >.container {
            h1{
                width: 90%;
                font-size: 3em;
                top: 32%;
            }
        }
    }
}
@include screen('mobile') {
    .inner-kv {
        // margin-top: -62px;
        >.container {
            .decoration{
                display: none;
                @include opacity(1);
            }
            h1{
                width: 90%;
                font-size: 2.5em;
            }
            .img-container {
                // margin-top: 60px;
                height: 280px;
            }
        }
    }
}
@include screen('xs_mobile') {
    .inner-kv {
        .container {
            h1 {
                font-size: 1.8em;
                // top: 58%;
            }
            .img-container {
                height: 240px;
            }
        }
    }
}

