/* 行動版選單sidebar*/
.menu{
    display: none;

    @include screen('tablet') {
        display: block;
    }
}

.menu2020{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        li{
            a{
                color: #fff;
                font-size: 1.25em;
                display: block;
                padding: .5em 2.5em;
                background: rgba(255, 255, 255, 0);
                font-weight: 500;
                transition: all .3s ease;

                &:hover, &:focus{
                    // background: rgba(255, 255, 255, 0.5);
                    background: rgba(0, 0, 0, .35);
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 280px;
    z-index: 99999999;
    display: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    @include box-sizing;
    >.menu_overlay {
        background: RGBA(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        display: none;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .m_area {
        width:100%;
        height: 100%;
        padding: 1em;
        position:absolute;
        top: 0;
        left: 0;
        overflow:hidden;
        overflow-y: auto;
        z-index: 9999;
        background: RGBA(0, 0, 0, .9);
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        @include box-sizing;
        .menu {
            width: 100%;
            display: block;
            margin-bottom: 1em;            
            a {
                display: block;
                color: white;
                text-decoration: none;
                @include transition(.3s);
                &:hover,&:after{
                    // color: $aHover;
                    background: #5d18bc;
                }
            }
            ul {
                padding: 1em 0;
            }
            li {
                display: block;
                float: none;
                width: 100%;
                ul { background: #FFF; }

                &:last-child{
                    a{ border-bottom: 1px solid transparent; }
                }

                >a {
                    padding: .8em 1em;
                    font-size: 1.2em;
                    border-bottom: 1px solid rgba(255, 255, 255, .5);
                }
                &.hasChild {
                    >a {
                        padding: .5em 1em;
                        color: #222;
                        background: #FFF;
                        padding-right: 36px;
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            right: 16px;
                            top: 1.5em;
                            width: 5px;
                            line-height: 1.25em;
                            height: 5px;
                            border: 2px solid #222;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            border-top: none;
                            border-left: none;
                            transition: .3s;
                        }
                    }
                }
                li {
                    background: #FFF;
                    a {
                        padding: 1em 1em 1em 2em !important;
                        background: rgba(0, 0, 0, .05);
                        &:hover,
                        &:focus {
                            color: #000;
                            background: rgba(0, 0, 0, .15);
                        }
                    }
                    &.hasChild {
                        a {
                            background: rgba(0, 0, 0, .05);
                            padding: 1em 1em 1em 2em;
                            &:hover,
                            &:focus {
                                background: rgba(0, 0, 0, .05);
                            }
                        }
                    }
                    li {
                        a {
                            background: rgba(0, 0, 0, .15) !important;
                            padding: .8em 1em .8em 4em !important;
                            border-bottom: 1px solid #BBB;
                            &:hover,
                            &:focus {
                                background: rgba(0, 0, 0, .25) !important;
                            }
                            &:after {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation {
        position: relative;
        text-align: left;
        ul {
            float: none;
            width: 100%;
            padding: 1em 5%;
            box-sizing: border-box;
            overflow: hidden;
            list-style: none;
            background: #222;
            // border: 1px solid rgba(255, 255, 255, .5);
            // border-bottom: none;
            // border-right: none;

            li {
                // float: left;
                // width: 50%;
                margin: 0;
                padding: 0;
                @include box-sizing;
                // &:nth-child(odd):last-child {
                //     width: 100%;
                // }
                a {
                    display: block;
                    height: 3em;
                    line-height: 2em;
                    padding: .5em 0 .5em 3.5em;
                    font-size: .938em;
                    color: #FFF;
                    font-weight: bold;
                    text-decoration: none;
                    border: 0;
                    border-bottom: 1px solid rgba(255, 255, 255, .5);
                    @include box-sizing;

                    // &:nth-child(odd) {
                    //     border-left: none;
                    //     border-top: none;
                    // }

                    // &:hover,
                    // &:focus {
                    //     background: darken($primaryColor, 20);
                    // }
                }

                // loginFuncArea{}
                &:nth-child(1){
                    a{
                        // 登入
                        &:nth-child(1){
                            // background: pink;
                            background: url(../images/icon/icon_2020_login.png) 12px 50% no-repeat;
                            background-size: 30px 30px;
                            &:hover, &:focus{
                                color: rgba(#fff, .75);
                                background: url(../images/icon/icon_2020_login.png) 12px 50% no-repeat, #5d18bc;
                                background-size: 30px 30px;
                            }
                        }
                        // 註冊
                        &:nth-child(2){
                            // background: deeppink;
                            background: url(../images/icon/icon_2020_signup.png) 12px 50% no-repeat;
                            background-size: 30px 30px;
                            &:hover, &:focus{
                                color: rgba(#fff, .75);
                                background: url(../images/icon/icon_2020_signup.png) 12px 50% no-repeat, #5d18bc;
                                background-size: 30px 30px;
                            }
                        }
                    }
                }

                // langMenu
                &:nth-child(2){
                    // 當前語系
                    >a{
                        // background: #eee;
                        background: url(../images/icon/icon_2020_language.png) 12px 50% no-repeat;
                        background-size: 30px 30px;
                        &:hover, &:focus{
                            color: rgba(#fff, .75);
                            background: url(../images/icon/icon_2020_language.png) 12px 50% no-repeat, #5d18bc;
                            background-size: 30px 30px;
                        }
                        +ul{
                            margin: 0;
                            padding: 0 5%;
                            width: 100%;

                            li{
                                &:last-child{
                                    a{ border-bottom: 1px dotted transparent; }
                                }
                            }

                            a{
                                background: none !important;
                                color: rgba(#eee, .5);
                                border-bottom: 1px dotted rgba(#696969, .5);

                                &:hover, &:focus{
                                    color: rgba(#fff, .75);
                                    background: #5d18bc !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .language {
            position: relative;
            width: 100%;
            @include gutter;
            a {
                padding: .6em 1em;
                background: rgba(0, 0, 0, .4);
                &:after {
                    top: 1.3em;
                }
                &:before {
                    top: .8em;
                }
            }
            ul {
                width: 100%;
                margin: 0;
                position: relative;
                top: 0;
                padding: 0;
                border: none;
                background:none;
                li {
                    width: 100% !important;
                    a {
                        border: none;
                        background: rgba(0, 0, 0, .4);
                    }
                }
            }
        }
    }
    button.sidebarClose {
        position: absolute;
        display: block;
        width: 3em !important;
        height: 3em !important;
        padding: 0;
        min-width: auto;
        top: 0px;
        right: 0px;
        margin: 0;
        text-indent: -9999px;
        border: none;
        background: none;
        border: none;
        &:before {
            position: absolute;
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            content: "";
            top: 15px;
            right: 10px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-right: none;
            border-top: none;
        }
    }
}
/*animation*/
@-webkit-keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}
@keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}

button.close {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40px;
    z-index: 999999;
    height: 40px;
    display: block;
    font-size: 0;
    border: none;
    background: transparent;
    &:before,&:after{
        position: absolute;
        top: 50%;
        left: 5px;
        width: 30px;
        height: 2px;
        background: #fff;
        content: "";
    }
    &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &:hover,
    &:focus {
        &:before {
            background: #fff;
        }
        &:after {
            background: #fff;
        }
        cursor:pointer;
    }
}