body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

/* 最外圍預設為100%*/
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
    }
}

/* 整體共用container樣式，請注意首頁切版頁面的整齊*/
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; /*請看_variable.scss*/
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 0; /* max-width: $container-max;*/
    /* 可先設定一個中央區塊最大寬，限制accesskey對齊*/
    @include screen('mobile') {
        padding-top: 55px;
    } /* 內頁標題設定*/
    h2 {
        line-height: 1.25em;
    }
}


/* 左右二區*/
.left_nav{
  @include make-xs-column(12);  /*576px  width:100%*/
  @include make-sm-column(6);   /*768px  width:50%*/
  @include make-md-column(4);   /*992px  width:33.3%*/
  @include make-lg-column(4);   /*1400px width:33.3%*/
  @include gutter();
}
.content{
  @include make-xs-column(12);  /*576px  width:100%*/
  @include make-sm-column(6);   /*768px  width:50%*/
  @include make-md-column(8);   /*992px  width:66.6%*/
  @include make-lg-column(8);   /*1400px width:66.6%*/
  @include gutter();
}



/* 區塊設定*/
.section {
    padding: 0em 0 1em;
    text-align: center;
    [class^="col"] {
        color: $color-word;
        font-size: 1em;
        @include box-sizing();
    }
    &+.section {
        padding-top: 2em;
    }
}

/* 滿版*/
.col-12 {
    .col {
        @include make-xs-column(12); /*576px  width:100%*/
        @include make-sm-column(12); /*768px  width:100%*/
        @include make-md-column(12); /*992px  width:100%*/
        @include make-lg-column(12); /*1400px width:100%*/
        border: none; /* @include gutter(); //gutter 代表左右要留白*/
    }
}



/* 單欄*/
.col-12 {
    .container {
        max-width: 100%;
    }
    .col {
        @include make-xs-column(12); /*576px  width:100%*/
        @include make-sm-column(12); /*768px  width:100%*/
        @include make-md-column(12); /*992px  width:100%*/
        @include make-lg-column(12); /*1400px width:100%*/
        @include gutter(); /*gutter 代表左右要留白*/
    }
}


/* 三欄*/
.col-4 {
    .container {
        /* @include gutter(); gutter 代表左右要留白*/
    }
    .col {
        @include make-xs-column(12); /*576px  width:100%*/
        @include make-sm-column(4); /*768px  width:33.3%*/
        @include make-md-column(4); /*992px  width:33.3%*/
        @include make-lg-column(4); /*1400px width:33.3%*/
        @include gutter(); /*gutter 代表左右要留白*/
    }
}



/* 雙欄*/
.col-6 {
    .container {
        @include gutter(); /*gutter 代表左右要留白*/
    }
    .col {
        @include make-xs-column(12); /*576px  width:100%*/
        @include make-sm-column(6); /*768px  width:50%*/
        @include make-md-column(6); /*992px  width:50%*/
        @include make-lg-column(6); /*1400px width:50%*/
        @include gutter();
    }
}



/*//////////////////////////////////////////////////////////*/
/* 為了與首頁區隔，請在內頁加上innerpage ClassName*/
.innerpage {
    padding-top: 2em;
    @include screen('mobile') {
        padding-top: 5em;
    }
    >.container {
        @include gutter(); /*gutter 代表左右要留白*/
    }
}